

body{
  margin:0;
  padding:20px;
  background:#e6e6e6;
  font-family:Arial, sans-serif;
}

.box{
  padding:25px;
  text-align:center;
  font-size:20px;
  font-weight:bold;
  color:purple;
  border:4px solid #2b2b2b;
  border-radius:8px;
}


.header, .footer{
  background:linear-gradient(white,blue);
  margin-bottom:40px;
}

.footer{
  margin-top:20px;
}

/* Grid Container */
.container{
  display:grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: auto auto;
  gap:20px;
}

/* Sidebar */
.sidebar{
  background:linear-gradient(blue,#20c9a6,purple;
  height:350px;
  display:flex;
  align-items:center;
  justify-content:center;
}


.content1{
  background:linear-gradient(135deg,#51c7ea,#56b1e8);
  height:400px;
}

.content2, .content3{
  background:linear-gradient(135deg,#6b95ef,#4e6fe8);
  height:160px;
}


.content2{
  grid-column:2;
}

.content3{
  grid-column:2;
}

@media
(max-width:900px){
  .container{
    grid-template-columns:1fr;
  }
  .sidebar
  {height: 2000px;
    width:200px;
    color:blue;
}
}